<!DOCTYPE html>
<html>

<head>
    <title>Patient</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css"         href="../../static/css/bootstrap.css">
    <link rel="stylesheet"  type="text/css"         href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css"         href="../../static/css/styles.css">
    <script                 type="text/javascript"  src="../../static/js/jquery.js"></script>
    <script                 type="text/javascript"  src="../../static/js/bootstrap.min.js"></script>
    <script                 type="text/javascript"  src="../../static/js/upload-image.js"></script>
    <script                 type="text/javascript"  src="../../static/js/jquery.date-dropdowns.js"></script>
    <script                 type="text/javascript"  src="../../static/js/responsive-tabs.js"></script>
    <script                 type="text/javascript"  src="../../static/js/mimes.js"></script>
    <link rel="stylesheet"  type="text/css"         href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  type="text/css"         href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <script                 type="text/javascript"  src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script                 type="text/javascript"  src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript" src="../../static/js/fileinput.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/fileinput.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/fileinput-rtl.min.css">


    <style>
        .date-div select {
            background: #ffffff;
            border: 1px solid #CCCCCC;
            border-radius: 3px;
            margin: 0;
            width: 32% !important;
            float: left;
        }

        .date-div select:nth-child(3){
            margin: 0 2%;
        }

        .date-div select.invalid {
            color: #E9403C;
        }
    </style>
</head>
<body>
    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">SPIS LOGO HERE</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">NAME OF USER HERE</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- END OF NAVIGATION -->

    <div class="container-fluid main-container">
        <!-- BREADCRUMBS -->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Patients List</a></li>
          <li class="active">Patient Name here</li>
        </ol>
        <!-- END OF BREADCRUMBS -->

        <div class="container-fluid">
            <div class="row">
                <div class="form-container">
                    <ul class="nav nav-tabs responsive" id="myTab">
                        <li id="tab-patient-info"><a href="#patient-info">Patient Information</a></li>
                        <li id="tab-notes"><a href="#notes">Notes</a></li>
                        <li id="tab-consultations"><a href="#consultations">Clinic Consultations</a></li>
                        <li id="tab-inpatient"><a href="#ip-treatments">In-Patient Treatments</a></li>
                        <li id="tab-outpatient"><a href="#op-treatments">Out-Patient Treatments</a></li>
                        <li id="tab-labs"><a href="#laboratories">Lab Results</a></li>
                        <li id="tab-diagnoses"><a href="#diagnoses">Diagnoses</a></li>
                        <li id="tab-medications"><a href="#medication">Medications</a></li>
                        <li id="tab-billing"><a href="#billing">Billings</a></li>
                    </ul>

                    <div class="tab-content responsive">
                        <!-- PATIENT INFO -->
                        <div class="tab-pane active" id="patient-info">
                            {% include "../patient/edit-patient-info.html" %}
                        </div>
                        <!-- END OF PATIENT INFO -->
                        <!-- NOTES -->
                        <div class="tab-pane" id="notes">

                            {% include "../patient/edit-patient-notes.html" %}

                        </div>
                        <!-- END OF NOTES -->
                        <!-- CONSULTATIONS -->
                        <div class="tab-pane" id="consultations">
                            Tab 3 ... Quisque et neque nec velit tincidunt fringilla. Morbi eget nisi molestie, egestas turpis non, pharetra orci. Donec mattis sem ipsum, eu dapibus lacus rutrum in. Fusce blandit mi leo, non feugiat nunc tempus vitae. Mauris hendrerit, leo sit amet mollis bibendum, lacus augue auctor turpis, sed placerat augue libero quis massa.
                        </div>
                        <!-- END OF CONSULTATIONS -->

                        <!-- IP-TREATMENTS -->
                        <div class="tab-pane" id="ip-treatments">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">   
                                    <!-- BASIC PATIENT INFO -->
                                    <div class="row" style="margin-top: 40px">
                                        <div class="col-md-6">
                                            <div class="row form-group">
                                                <label class="col-sm-3 control-label" for="patient-id">Patient ID</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="patient-id" value="{{patient.id}}" disabled>
                                                </div>
                                            </div>                                       
                                            <div class="row form-group">
                                                <label class="col-sm-3 control-label" for="patient-id">Patient Name</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="patient-id" value="{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a id="list-ipt-view-link" onclick="view_IPT()">Back to In-Patient Treatment List</a><hr>
                                    <!-- END OF BASIC PATIENT INFO -->


                                    <!-- IPT TABLE -->
                                        {% include "../patient/list-patient-ipt.html" %}
                                    <!-- END OF IPT TABLE -->


                                    <!-- ADD NEW IPT RECORD -->
                                        {% include "../patient/add-patient-ipt.html" %}
                                    <!-- END OF ADDING NEW IPT RECORD -->

                                    <!-- VIEW IPT RECORD -->
                                    {% include "../patient/edit-patient-ipt.html" %}
                                    <!--  -->                                   
                                </div>
                            </div>
                        </div>
                        <!-- END OF IP-TREATMENTS -->


                        <!-- OP-TREATMENTS -->
                        <div class="tab-pane" id="op-treatments">
                            <div class="row">
                                <div class="col-xs-12 col-md-10 col-md-offset-1">
                                    <!-- BASIC PATIENT INFO -->
                                    <div class="row" style="margin-top: 40px">
                                        <div class="col-md-6">
                                            <div class="row form-group">
                                                <label class="col-sm-3 control-label" for="patient-id">Patient ID</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="patient-id" value="{{patient.id}}" disabled>
                                                </div>
                                            </div>                                       
                                            <div class="row form-group">
                                                <label class="col-sm-3 control-label" for="patient-id">Patient Name</label>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="patient-id" value="{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a id="list-opt-view-link" onclick="view_OPT()">Back to Out-Patient Treatment List</a>
                                    <hr>


                                    <!-- OPT TABLE -->
                                        {% include "../patient/list-patient-opt.html" %}
                                    <!-- END OF OPT TABLE -->

                                    <!-- ADD NEW OPT RECORD -->
                                        {% include "../patient/add-patient-opt.html" %}
                                    <!-- END OF ADDING NEW OPT RECORD -->

                                    <!-- VIEW OPT RECORD -->
                                        {% include "../patient/edit-patient-opt.html" %}
                                    <!-- END OF VIEW OPT RECORD -->                                   

                                </div>
                            </div>
                        </div>
                        <!-- END OF OP TREATMENTS -->



                        <!-- LABORATORY RESULTS -->
                        <div class="tab-pane" id="laboratories">
                            <div class="row" id="list-lab-view">
                                {% include "../treatments/list-lab-results.html" %}
                            </div>

                            <div class="row" id="add-lab-view">
                                {% include "../treatments/add-lab-results.html" %}
                            </div>
                            <div class="row" id="edit-lab-view">
                                {% include "../treatments/edit-lab-results.html" %}
                            </div>
                        </div>
                        <!-- END OF LABORATORY RESULTS -->


                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- MODALSSSS -->
    <!-- MODAL ADD MEDICATION -->
    <div class="modal fade" id="add-medication-modal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color: black">&times;</button>
                    <h4 class="modal-title" style="float:left"><strong>Add Medication</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <form id="add-med-form" class="form-horizontal" method="POST" action="">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="add-med-name">Name*</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="add-med-name" id="add-med-name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="add-med-dosage">Dosage*</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="add-med-dosage" id="add-med-dosage" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="add-med-frequency">Frequency*</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="add-med-frequency" id="add-med-frequency" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Type*</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" name="add-med-type" id="add-med-type" required>
                                                  <option value="" selected disabled>----</option>
                                                  <option value="Maintenance">Maintenance</option>
                                                  <option value="Non-Maintenance">Non-Maintenance</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="add-med-instructions">Instructions</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" class="form-control" name="add-med-instructions" id="add-med-instructions"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="button-group">
                                        <a class="btn btn-gray pull-right" data-dismiss="modal">Cancel</a>
                                        <button type="submit" class="btn btn-lime pull-right" id="add-med-btn">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL ADD MEDICATION -->



    <!-- MODAL FOR ADD MEDICAL PROCEDURES -->
     <div class="modal fade" id="add-med-procedure-modal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color: black">&times;</button>
                    <h4 class="modal-title" style="float:left"><strong>Add Medical Procedure</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <form id="add-med-procedure-form" class="form-horizontal" method="POST" action="">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="add-med-procedure-date">Date*</label>
                                            <div class="col-sm-9 col-md-8 date-div" id="add-med-procedure-date">
                                                <input type="hidden" id="med-procedure-date">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="add-med-procedure-description">Description</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" class="form-control" name="add-med-procedure-description" id="add-med-procedure-description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="add-med-procedure-details">Details</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" class="form-control" name="add-med-procedure-details" id="add-med-procedure-details"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="button-group">
                                        <a class="btn btn-gray pull-right" data-dismiss="modal">Cancel</a>
                                        <button type="submit" class="btn btn-lime pull-right" id="add-med-procedure-btn">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF MEDICAL PROCEDURES MODAL -->



    <!-- MODAL EDIT MEDICATION -->
    <div class="modal fade" id="edit-medication-modal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color: black">&times;</button>
                    <h4 class="modal-title" style="float:left"><strong>Edit Medication</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <form id="edit-med-form" class="form-horizontal" method="POST" action="">
                                    <fieldset>
                                        <input type="hidden" id="caller-element"/>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="edit-med-name">Name*</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="edit-med-name" id="edit-med-name" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="edit-med-dosage">Dosage*</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="edit-med-dosage" id="edit-med-dosage" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="edit-med-frequency">Frequency*</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="edit-med-frequency" id="edit-med-frequency" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Type*</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" name="edit-med-type" id="edit-med-type" required>
                                                  <option value="" selected disabled>----</option>
                                                  <option value="Maintenance">Maintenance</option>
                                                  <option value="Non-Maintenance">Non-Maintenance</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="edit-med-instructions">Instructions</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" class="form-control" name="edit-med-instructions" id="edit-med-instructions"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="button-group">
                                        <a class="btn btn-gray pull-right" data-dismiss="modal">Cancel</a>
                                        <button type="submit" class="btn btn-lime pull-right" id="edit-med-btn">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL EDIT MEDICATION -->



    <!-- MODAL FOR EDIT MEDICAL PROCEDURES -->
     <div class="modal fade" id="edit-med-procedure-modal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="color: black">&times;</button>
                    <h4 class="modal-title" style="float:left"><strong>Edit Medical Procedure</strong></h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <form id="edit-med-procedure-form" class="form-horizontal" method="POST" action="">
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="edit-med-procedure-date">Date*</label>
                                            <div class="col-sm-9 col-md-8 date-div" id="edit-med-procedure-date">
                                                <input type="hidden" id="edited-med-procedure-date">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="edit-med-procedure-description">Description</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" class="form-control" name="edit-med-procedure-description" id="edit-med-procedure-description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label" for="edit-med-procedure-details">Details</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" class="form-control" name="edit-med-procedure-details" id="edit-med-procedure-details"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="button-group">
                                        <a class="btn btn-gray pull-right" data-dismiss="modal">Cancel</a>
                                        <button type="submit" class="btn btn-lime pull-right" id="edit-med-procedure-btn">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF EDIT MEDICAL PROCEDURES MODAL -->



<!-- END OF MODAAAALLSSS -->

</body>

<script type="text/javascript">

    var IPT_List_Table;
    var OPT_List_Table;

    (function($) {
      fakewaffle.responsiveTabs(['xs', 'sm']);
    })(jQuery);

      $( '#myTab a' ).click( function ( e ) {
        // e.preventDefault();
        $( this ).tab( 'show' );
      } );

    $(document).ready(function(){
        $( '#myTab li' ).first().addClass('active');
        $( '#collapse-patient-info').addClass('in');

        $("#confinement-date").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#discharge-date").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#edit-confinement-date").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#edit-discharge-date").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#membership-date").dateDropdowns({
            displayFormat: "mdy"
        });
        
        $("#bday").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#expiration-date").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#opt-date").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#edit-opt-date").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#med-procedure-date").dateDropdowns({
            displayFormat: "mdy"
        });

        $("#edited-med-procedure-date").dateDropdowns({
            displayFormat: "mdy"
        });


        $('#list-ipt-view-link').hide();
        $('#add-ipt-view').hide();
        $('#edit-ipt-view').hide();


        $('#list-opt-view-link').hide();
        $('#add-opt-view').hide();
        $('#edit-opt-view').hide();


        $('#add-lab-view').hide();
        $('#edit-lab-view').hide();


        $(".date-div select").addClass("form-control");
        $("#birthday select").prop("required", true);
        $("select option[value='']:selected").attr('disabled',"disabled");
        // $("select[name='date_[day]'] option").first().prop("disabled", true);
        // $("select[name='date_[year]'] option").first().prop("disabled", true);

        $('input[type=radio][name=referral]').change(function() {
            if (this.value == 'walk-in') {
                $('#referrer').slideUp(200);
                $('#referrer').prop('required', false);
                $('#referrer').val('');
            }
            else if (this.value == 'referred') {
                $('#referrer').slideDown(200);
                $('#referrer').prop('required', true);
                $('#referrer').focus();
            }
        });

                var date = "{{patient.birthdate}}".split("-");
                $("#birthday select[name='date_[month]']").val(date[1]);
                $("#birthday select[name='date_[day]']").val(date[2]);
                $("#birthday select[name='date_[year]']").val(date[0]);


                if("{{patient.membership}}" !== "") {
                    date = "{{patient.membership}}".split("-");
                    $("#membership select[name='date_[month]']").val(date[1]);
                    $("#membership select[name='date_[day]']").val(date[2]);
                    $("#membership select[name='date_[year]']").val(date[0]);
                }
                

                if("{{patient.expiration}}" !== "") {
                    date = "{{patient.expiration}}".split("-");
                    $("#expiration select[name='date_[month]']").val(date[1]);
                    $("#expiration select[name='date_[day]']").val(date[2]);
                    $("#expiration select[name='date_[year]']").val(date[0]);
                }

                if("{{patient.referred_by}}" !== "") {
                    $("input[name=referral][value=referred]").attr('checked', 'checked');
                    $('#referrer').slideDown(200);
                    $('#referrer').prop('required', true);
                    $('#referrer').val("{{patient.referred_by}}");
                } else{
                    $("input[name=referral][value=walk-in]").attr('checked', 'checked');
                }

                if("{{patient.sex}}" === "Male"){
                    $('#sex option[value="Male"]').attr('selected', true);
                } else if("{{patient.sex}}" === "Female"){
                    $('#sex option[value="Female"]').attr('selected', true);
                } else{
                    $('#sex option[value="Others"]').attr('selected', true)
                }

                if("{{patient.civil_status}}" === "Single"){
                    $('#civil_status option[value="Single"]').attr('selected', true);
                } else if("{{patient.civil_status}}" === "Married"){
                    $('#civil_status option[value="Married"]').attr('selected', true);
                } else if("{{patient.civil_status}}" === "Divorced"){
                    $('#civil_status option[value="Divorced"]').attr('selected', true)
                } else if("{{patient.civil_status}}" === "Separated"){
                    $('#civil_status option[value="Separated"]').attr('selected', true);
                } else if("{{patient.civil_status}}" === "Widowed"){
                    $('#civil_status option[value="Widowed"]').attr('selected', true)
                }

        
        $("#email").blur(function() {
            if($("#email").val().trim() !== "") {
                var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (!re.test($("#email").val().trim())) {
                    $('#error-email').text("Invalid Email");
                    $('#save-btn').prop('disabled', true);
                } else {
                    $('#error-email').text("");
                    $('#save-btn').prop('disabled', false);
                }
            }
        });

        IPT_List_Table = $('#ipt-list').DataTable({
            "bSort": true, 
            "aaSorting": [],
            "aoColumns": [
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true }
            ]    
        });

        OPT_List_Table = $('#opt-list').DataTable({
            "bSort": true, 
            "aaSorting": [],
            "aoColumns": [
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true }
            ]    
        });

        Lab_List_Table = $('#list-lab-result').DataTable({
            "bSort": true, 
            "aaSorting": [],
            "aoColumns": [
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": true }
            ]    
        });
    });


    // FOR ACCORDION; ONCLICK LISTENER FOR IPT DIV//
    $('#collapse-ip-treatments').parent().children('div.panel-heading').on('click', function(){

        if($('#collapse-ip-treatments').hasClass('in') == false){
            $.ajax({
                type: "GET",
                url: "/ipt_list/{{patient.id}}",
            }).done(updateIPTListRows);
        }

    });

    // /////// //

    var meds;
    var med_procedures;
    var billing;

    function view_IPT() {
        $('#list-ipt-view').show();
        $('#add-ipt-view').hide();
        $('#edit-ipt-view').hide();
        $('#list-ipt-view-link').hide();
        meds.destroy();
        med_procedures.destroy();
    }
    

    function view_OPT() {
        $('#list-opt-view').show();
        $('#add-opt-view').hide();
        $('#edit-opt-view').hide();
        $('#list-opt-view-link').hide();
        meds.destroy();
        med_procedures.destroy();
    }
    
    // function example() {
    //     console.log($(this).text());
    // }

    $('#add-med-form').submit(function(e){
        e.preventDefault();
        meds.row.add([
            '<input type="checkbox" id="" name=""></input>', //idk UNSAON ANG NAME AND ID ANI FOR DELETION
            '<a>' + $('#add-med-name').val() + '</a>',
            $('#add-med-dosage').val(),
            $('#add-med-frequency').val(),
            $('#add-med-type').val(),
            $('#add-med-instructions').val()
        ]).draw();
         

         $('#add-medication-modal').modal('toggle');
         $('#add-medication-modal input').val("");
         $('#add-medication-modal select').val("");
         $('#add-medication-modal textarea').val("");

    });

     $('#add-med-procedure-form').submit(function(e){
        e.preventDefault();
         med_procedures.row.add([
            '<input type="checkbox" id="" name=""></input>', //idk UNSAON ANG NAME AND ID ANI FOR DELETION
            '<a>' + $("#add-med-procedure-date select[name='date_[year]']").val() + '-' + 
            $("#add-med-procedure-date select[name='date_[month]']").val() + '-' +
            $("#add-med-procedure-date select[name='date_[day]']").val() + '</a>',
            $('#add-med-procedure-description').val(),
            $('#add-med-procedure-details').val()
        ]).draw();
         

         $('#add-med-procedure-modal').modal('toggle');
         $('#add-med-procedure-modal input').val("");
         $('#add-med-procedure-modal select').val("");
         $('#add-med-procedure-modal textarea').val("");

    });

     $('#edit-med-form').submit(function(e){
        e.preventDefault();

        meds.row(edit_med_caller).data([
            '<input type="checkbox" id="" name=""></input>', //idk UNSAON ANG NAME AND ID ANI FOR DELETION
            '<a>' + $('#edit-med-name').val() + '</a>',
            $('#edit-med-dosage').val(),
            $('#edit-med-frequency').val(),
            $('#edit-med-type').val(),
            $('#edit-med-instructions').val()
        ]).draw();

        $('#edit-medication-modal').modal('toggle');
        $('#edit-medication-modal input').val("");
        $('#edit-medication-modal select').val("");
        $('#edit-medication-modal textarea').val("");

    });

     $('#edit-med-procedure-form').submit(function(e){
        e.preventDefault();

        med_procedures.row(edit_med_procedure_caller).data([
            '<input type="checkbox" id="" name=""></input>', //idk UNSAON ANG NAME AND ID ANI FOR DELETION
            '<a>' + $("#edit-med-procedure-date select[name='date_[year]']").val() + '-' + 
            $("#edit-med-procedure-date select[name='date_[month]']").val() + '-' +
            $("#edit-med-procedure-date select[name='date_[day]']").val() + '</a>',
            $('#edit-med-procedure-description').val(),
            $('#edit-med-procedure-details').val()
        ]).draw();
         
        $('#edit-med-procedure-modal').modal('toggle');
        $('#edit-med-procedure-modal input').val("");
        $('#edit-med-procedure-modal select').val("");
        $('#edit-med-procedure-modal textarea').val("");

    });


    (function ($) {
      $.each(['show', 'hide'], function (i, ev) {
        var el = $.fn[ev];
        $.fn[ev] = function () {
          this.trigger(ev);
          return el.apply(this, arguments);
        };
      });
    })(jQuery);

    ///////// UPDATE LIST IPT ROWS
    $("#list-ipt-view").on('show', function() {
        $.ajax({
            type: "GET",
            url: "/ipt_list/{{patient.id}}",
        }).done(updateIPTListRows);
    });

    $("#list-opt-view").on('show', function() {
        $.ajax({
            type: "GET",
            url: "/opt_list/{{patient.id}}",
        }).done(updateOPTListRows);
    });

    $("#list-lab-view").on('show', function() {
        $.ajax({
            type: "GET",
            url: "/lab_results_list/{{patient.id}}",
        }).done(updateLabListRows);
    });
    // var temp_hehe = 1;

    function updateIPTListRows (data) {
        console.log("WHY HERE BESHIE")
        IPT_List_Table = IPT_List_Table.rows().remove().draw();
        for (var i = data.ipt_list.length - 1; i >= 0; i--) {
            IPT_List_Table.row.add([
                '<a onclick="edit_IPT('+ data.ipt_list[i].id +')" value="' + data.ipt_list[i].id + '" id="ipt-data'+data.ipt_list[i].id+'">' + data.ipt_list[i].conf_date + '</a>',
                data.ipt_list[i].discharge_date,
                data.ipt_list[i]['parent_record.hospitalName'],
                data.ipt_list[i]['parent_record.doctor.username.first_name'] + " " + data.ipt_list[i]['parent_record.doctor.username.middle_name'] + " " + data.ipt_list[i]['parent_record.doctor.username.last_name']
            ]).draw();
        };
    } 
    // end of LIST IPT ROWS

    //////// UPDATE LIST OPT ROWS

    function updateOPTListRows (data) {
        console.log("UPDATE OPT LIST ROWS");
        console.log(data);
        OPT_List_Table = OPT_List_Table.rows().remove().draw();
        for (var i = data.opt_list.length - 1; i >= 0; i--) {
            OPT_List_Table.row.add([
                '<a onclick="edit_OPT('+ data.opt_list[i].id +')" value="' + data.opt_list[i].id + '" id="opt-data-'+data.opt_list[i].id+'">' + data.opt_list[i].date + '</a>',
                data.opt_list[i]['parent_record.hospitalName'],
                data.opt_list[i]['parent_record.doctor.username.first_name'] + " " + data.opt_list[i]['parent_record.doctor.username.middle_name'] + " " + data.opt_list[i]['parent_record.doctor.username.last_name']
            ]).draw();
        };
    }
    // end of LIST OPT ROWS

    function updateLabListRows (data) {
        Lab_List_Table = Lab_List_Table.rows().remove().draw();
        for (var i = data.lab_results_list.length - 1; i >= 0; i--) {
            Lab_List_Table.row.add([
                '<a onclick="edit_Lab(\'lab-data-' + data.lab_results_list[i].id + '\')" value="' + data.lab_results_list[i].id + '" id="lab-data-' + data.lab_results_list[i].id + '">' + data.lab_results_list[i].date + '</a>',
                data.lab_results_list[i].hospitalName,
                data.lab_results_list[i].description,
                data.lab_results_list[i].notes
            ]).draw();
        };
    }

    $("#tab-consultations").click(function (e) {

    });

    $("#tab-inpatient").click(function (e) {
        $.ajax({
            type: "GET",
            url: "/ipt_list/{{patient.id}}",
        }).done(updateIPTListRows);
    });

    $("#tab-outpatient").click(function (e) {
        $.ajax({
            type: "GET",
            url: "/opt_list/{{patient.id}}",
        }).done(updateOPTListRows);
    });

    $("#tab-labs").click(function (e) {
        $.ajax({
            type: "GET",
            url: "/lab_results_list/{{patient.id}}",
        }).done(updateLabListRows);
    });

    $("#tab-diagnoses").click(function (e) {

    });

    $("#tab-medications").click(function (e) {

    });

    $("#tab-billing").click(function (e) {

    });



    $('#add-medication-modal').on('shown.bs.modal', function (e) {
        var caller = $(e.relatedTarget).attr('id');
    });

</script>
</html>